@font-face {
    font-family: "Myriad Pro";
    src: url(/fonts/myriad/MYRIADPRO-REGULAR.OTF);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* user-select: none; */
    text-size-adjust: none;
    text-size-adjust: auto;
    text-size-adjust: 80%;
    text-size-adjust: inherit;
    text-size-adjust: initial;
    text-size-adjust: unset;
    /* border: 1px solid black */
}

html {
    min-height: 100%;
}

body {
    height: 100%;
    min-height: 100%;

}


.main-container {
    border-color: antiquewhite;
    max-width: 1280px;
    border: 1px solid red;
    margin: auto;
    padding: 20px
}

.chart {
    margin: 20px 0px;
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-shadow: 0px 65px 26px rgba(118, 61, 30, 0.01), 0px 37px 22px rgba(118, 61, 30, 0.02), 0px 16px 16px rgba(118, 61, 30, 0.03), 0px 4px 9px rgba(118, 61, 30, 0.04), 0px 0px 0px rgba(118, 61, 30, 0.04);
    border-radius: 10px;
}

.chart-name {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.01em;
    color: #191919;
    margin-bottom: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.progress-name {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.01em;
    color: #868686;
    margin-left: 10px;
    margin-right: 10px;
    width: 68px;
}

.progress-item {
    height: 32px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.progress-container {
    display: flex;
    align-items: center;
    width: calc(100% - 99px);
    height: 32px;

}

.progress-value {
    z-index: 11;
    height: 32px;
    border-radius: 0px 100px 100px 0px;
}

.hidden {
    display: none;
}


.nps-content {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #868686;
    /* max-width: 250px; */
}

.chart-3-block, .chart-4-block, .chart-5-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

.chart-3, .chart-4, .chart-5 {
    overflow-x: scroll;
}

.canvas-3-wrapper, .canvas-4-wrapper, .canvas-5-wrapper {
    width: 150px;
    height: 150px;
    margin-left: 40px;
    padding-right: 40px;
    margin-bottom: 32px;
}



.grade-name-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.grade-item {
    margin-bottom: 28px;
}

.grade-container {
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background: #F1F4F4
}

.grade-value {
    height: 8px;
    border-radius: 4px;
}

.chart-2 {
    overflow-x: scroll;
    overflow-y: hidden;
}

.nps {
    margin-right: 20px;
    margin-bottom: 10px;
}

.nps-img {
    width: 47px;
    height: 52px;
    margin-bottom: 12px;
}

#chart-2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #E8E8E8;
    min-width: 600px;
}

.dectators p {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #C42925;
    margin-bottom: 20px;
}

.passives p {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FF6900;
    margin-bottom: 20px;

}

.promoters p {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #F6B703;
    margin-bottom: 20px;

}

.dectators::after {
    content: "";
    width: 1px;
    border-right: 1px solid #F2F2F2;
}

.nps-block {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dectators span {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #C42925;
}

.passives span {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FF6900;
}

.promoters span {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #F6B703;
}

.nps-bottom-row {
    display: flex;
    justify-content: space-between;
    min-width: 600px
}

.nps-item {
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 8px 18px 44px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 10px 20px;
    margin-bottom: 24px;
    width: calc(33.3% - 14px)
}

.dect-bottom-1 {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #C42925;
    margin-right: 24px;
}

.passiv-bottom-2 {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FF6900;
    margin-right: 24px;

}

.prom-bottom-2 {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #F6B703;
    margin-right: 24px;
}

.dect-bottom, .passiv-bottom, .prom-bottom {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #191919;
}

.nps-score {
    color: #fff;
    background-color: #F6B703;
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    height: 40px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 600px;
}

#nps-score {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.canvas-3-wrapper, .canvas-4-wrapper, .canvas-5-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}


.chart-6, .chart-7, .chart-3 {
    margin-top: 0px;
}

@media(min-width: 768px) {


    .chart-1, .chart-2 {
        display: inline-block;
        vertical-align: top;
        height: 470px;
        width: calc(50% - 24px);
        padding: 32px 46px
    }

    .chart-1 {
        margin-right: 24px;
    }






    .chart-3, .chart-4, .chart-5 {
        padding: 32px 46px;
        display: flex;
        flex-direction: column;
    }

    .chart-3-block, .chart-4-block, .chart-5-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .canvas-3-wrapper:not(:last-child), .canvas-4-wrapper:not(:last-child), .canvas-5-wrapper:not(:last-child) {
        border-right: 1px solid #EBEDEF;
    }

    .bottom-block {
        display: flex;
        width: 100%;
        /* min-width: 726px; */
        justify-content: space-between;
    }

    .bottom-left-block, .bottom-right-block {
        /* display: inline-block; */
        /* width: calc(50% - 36px); */
        /* min-width: 363px; */
    }


    .chart-6 {
        padding: 32px 46px
    }

    .last-charts-container {
        display: flex;
        justify-content: space-between;
    }

    .chart-6, .chart-7 {
        display: inline-block;
        vertical-align: top;
        min-height: 230px;
        width: calc(50% - 12px);

    }
}

#chart-1 {
    position: relative;
    z-index: 10;
    margin-bottom: 45px;
}

.chart-1-bg {
    position: absolute;
    /* background: url(/img/frame.svg); */
    display: flex;
    justify-content: space-between;
    width: calc(100% - 90px);
    height: calc(100% + 20px);
    top: 0;
    left: 88px;
    z-index: 9;

}

.scale {
    border-left: 1.5px dashed #EAEAEA;
    width: 10px;
}

.scale-numbers {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #B8B8B8;



    display: flex;

    position: absolute;
    /* background: url(/img/frame.svg); */
    display: flex;
    justify-content: space-between;
    width: calc(100% - 83px);
    height: 20px;
    top: 220px;
    left: 85px;
    z-index: 9;
}